@{
    ViewData["Title"] = "Seed Help";
}
<h1>@ViewData["Title"]</h1>

<p>
    If your Redis database is new it may be helpul to seed it with some dummy data for testing.
    You can quickly spin up a Redis Server using its <a href="https://hub.docker.com/_/redis" target="_blank">docker image</a>.
</p>

<p>
    Try to stick with a schema. For instance <code>object-type:id</code> is a good idea, as in "user:1000". Dots or dashes are often used for multi-word fields, as in <code>comment:1234:reply.to</code> or <code>comment:1234:reply-to</code>.
</p>
<p>
    Dont use <code>*</code> in your schema as this is used in wild card searchs for the <a href="https://redis.io/commands/scan" target="_blank">SCAN command</a>.
</p>

<h2>Seed Inserts</h2>

<ul>
    <li><a asp-action="StringType">String Type</a></li>
</ul>

<h2>References</h2>

<ul>
    <li><a href="https://redis.io/topics/data-types-intro" target="_blank">An introduction to Redis data types and abstractions</a></li>
    <li><a href="https://redis.io/topics/data-types" target="_blank">Data types</a></li>
    <li><a href="https://redis.io/commands/scan" target="_blank">SCAN</a></li>
</ul>