@model StringTypeViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            Value
        </div>
        <div class="col-sm-10">
            @Html.Raw(Model.Value)
        </div>
    </div>
</div>