@model ZoomViewModels

<style type="text/css">
    .text-break {
        word-break: break-word !important;
        overflow-wrap: break-word !important;
    }
</style>

<div class="container">
    <div class="row">
        <label asp-for="Key" class="col-sm-2"></label>
        <div class="col-sm-10">
            @Html.Raw(Model.Key)
        </div>
    </div>
    <div class="row">
        <label asp-for="Type" class="col-sm-2"></label>
        <div class="col-sm-10">
            @Html.Raw(Model.Type)
        </div>
    </div>
</div>

<div>
    @{
        if (Model.Type != null && Model.Type.Equals("String"))
        {
            <partial name="~/Views/SelectList/_StringType.cshtml" model="Model.ValueData" />
        }
        else if (Model.Type != null && Model.Type.Equals("SortedSet"))
        {
            <partial name="~/Views/SelectList/_SortedSetType.cshtml" model="Model.ValueData" />
        }
    }
</div>