@if (TempData["message"] != null)
{
    var messageList = (List<MessageViewModel>)TempData["message"];
    foreach (var message in messageList)
    {
        <div class="alert @message.CssClassName" role="alert">
            <strong>@message.Title</strong>
            @message.Message
        </div>
    }
}