@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Redis Administrator is an application to help admin and understand a redis database.
    </p>
    <p>
        The source code is avalible in GitHub at <a href="https://github.com/carlpaton/RedisAdministrator/" target="_blank">github.com/carlpaton/RedisAdministrator</a>
    </p>
    <p>
        The Docker image is avalible at <a href="https://hub.docker.com/r/carlpaton/redis-administrator/" target="_blank">hub.docker.com/r/carlpaton/redis-administrator</a>
    </p>
    <p>
        Also see Redis <a href="https://redis.io/documentation" target="_blank">Docs</a> and <a href="https://redis.io/commands" target="_blank">Commands</a>
    </p>
</div>
