@model InfoViewModel

@{
    ViewData["Title"] = "Redis Server Information";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Default", "RedisSaveSearch", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Info)

    <p>
        Only display memory information
        @Html.CheckBoxFor(model => model.MemoryOnly, new { onclick = "this.form.submit();" })
    </p>

    <p>
        <span style="white-space: pre-line">@Html.Raw(Model.Info)</span>
    </p>
}