@model InfoViewModel

@{
    ViewData["Title"] = "Redis Server Information";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Index", "Info", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Info)

    <p>
        Only display memory information
        @Html.CheckBoxFor(model => model.MemoryOnly, new { onclick = "this.form.submit();" })
    </p>

    <p>
        <span style="white-space: pre-line">@Html.Raw(Model.Info)</span>
    </p>
}

<h1>References</h1>

<ul>
    <li><a href="https://redis.io/commands/INFO" target="_blank">INFO command</a></li>
</ul>