@model SortedSetWithScoreViewModel

<style type="text/css">
    .text-break {
        word-break: break-word !important;
        overflow-wrap: break-word !important;
    }
    .text-sm {
        font-size: 0.8em;
    }
</style>

<div class="container text-sm">
    @{
        int count = 1;
    <div class="row font-weight-bold">
        <div class="col-sm-1">
            #
        </div>
        <div class="col-sm-2">
            Score
        </div>
        <div class="col-sm-9">
            Value
        </div>
    </div>
        <div class="row">
            @foreach (var row in Model.Data)
                {
                    foreach (var col in row)
                    {
                        if (count == 1)
                        {
                            <div class="col-sm-1">
                                @Html.Raw(col)
                            </div>
                        }
                        if (count == 2)
                        {
                            <div class="col-sm-2">
                                @Html.Raw(col)
                            </div>
                        }
                        if (count == 3)
                        {
                            <div class="col-sm-9 text-break">
                                @Html.Raw(col)
                            </div>
                        }
                        count++;
                    }
                    count = 1;
                }
        </div>
    }
</div>
